@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans');

*,html,::before,::after {
  box-sizing: border-box;
}
body {
  background-color: rgb(185, 180, 180);
  font-family: 'Josefin Sans', sans-serif;
}

.todo-list {
  background-color: white;
  margin: auto;
  width: 60%;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid #efefef;
  box-shadow:
    /* The top layer shadow */
    0 1px 1px rgba(0, 0, 0, 0.15),
    /* The second layer */
    0 10px 0 -5px #eee,
    /* The second layer shadow */
    0 10px 1px -4px rgba(0, 0, 0, 0.15),
    /* The third layer */
    0 20px 0 -10px #eee,
    /* The third layer shadow */
    0 20px 1px -9px rgba(0, 0, 0, 0.15);
  padding: 30px;
}

@media screen and (max-width:992px) {
  .todo-list {
    width:90%;
  }
  input[type=text]{
    width:80%;
  }
  form {
    width:100%;
  }
}

input[type=checkbox] {
  margin-right: 10px;
  font-size: 30px;
 
}

input[type=checkbox]:focus {
  outline: 0;
}

input[type=text] {
  margin-right: 10px;
  font-size: 12px;
  padding: 5px;
  border-radius: 5px;
  width: 100%;
  border:none;
  font-style: italic;
  border-bottom: 2px solid #4CAF50 ;
}

input[type=text]:focus {
  outline:none;
}

.clear{
  background-color: #4CAF50;
  border:none;
  margin-top:5px;
  padding: 7px 7px;
  color:white;
  font-size: 12px;
}

.title{
  text-align: center;
  color:#4CAF50;
}

.delete{
  color: red;
  cursor: pointer;
 
}
.todo {
  font-size: 16px;
}
button {
  cursor: pointer;
  border-radius: 25px;

}
.todo-form {
  display:flex;
}

tr{
  border: 2px thin #4CAF50 ;
}

form {
  width:70%;
}